<h1><%= @machine.location %> Vending Machine</h1>
<ul><% @machine.snacks.each do |snack| %>
  <li><%= snack.name %>:
  $<%= float_to_dollars(snack.price) %></li>
<% end %></ul>
<span>Average Price: $<%= float_to_dollars(@machine.average_price) %>
